/*#ListLien a{

    display: block; 
    margin: 0;
    color: black;
    
    padding: 30px 40px 30px 40px;
    text-decoration: none;
    background-color: #532E1C;
    text-decoration:none;
    list-style-type: none;
}
#ListLien a:hover{
    background-color: #9D9D9D;
    font-style: normal;
    text-decoration-line: none;
    color: black;
     
 }

 #ListLien li{
    list-style-type: none;
 }
 #ListLien a:link{
    display: inline-block;
    color: white;
    padding: 30px 41spx 30px 41px;
}*/

#btn{
    color: #532E1C;
    background-color: linen;
    border-style: none;
    margin: 5px;
    padding: 5px;
    
    width: 200px;
    border-radius: 15px;
    
    border: 1px solid black;
   
    
}